* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body div {
    flex: 0 0 50%;
}
.grey {
    background-color: #cacaca;
}
.blue {
    background-color: #0000ff;
    flex-basis: 25%;
}
.red{
    background-color: #ff0000;
    flex-basis: 75%;
}
.purple {
background-color: #800080;
flex-basis: 60%;
}
.yellow{
background-color: #ffff00;
flex-basis: 20%;
}
.pink{
background-color: #ffc0cb;
flex-basis: 20%;
}
.aqua {
    background-color: #00ffff;
    flex-basis: 70%;
}
.magenta {
    background-color: #ff00ff;
}
.container{
    display: flex;
}
.container-1 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}
.container-2 {
    flex-basis: 20%;
    display: flex;
}
.container-3 {
    display: flex;
    flex-direction: column;
}
