* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body>div {
    flex: 1;
}
.grey {
    background-color: #cacaca;
}
.blue {
    background-color: #0000ff;
    flex:1;
}
.red{
    background-color: #ff0000;
    flex:3;
}
.purple {
background-color: #800080;
flex:5;
}
.yellow{
background-color: #ffff00;
flex:2;
}
.pink{
background-color: #ffc0cb;
flex:2;
}
.aqua {
    background-color: #00ffff;
    flex: 4;
}
.magenta {
    background-color: #ff00ff;
    flex: 2;
}
.container{
    display: flex;
}
.container-1 {
    flex:3;
    display: flex;
    flex-direction: column;
}
.container-2 {
    flex:1;
    display: flex;
}
.container-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
